Babel==2.11.0
black==22.12.0
blinker==1.5
click==8.1.3
colorama==0.4.6
dnspython==2.2.1
email-validator==1.3.0
Flask==2.2.2
Flask-BabelEx==0.9.4
Flask-Login==0.6.2
Flask-Mail==0.9.1
Flask-Moment==1.0.5
flask-mongoengine==1.0.0
Flask-Principal==0.4.0
Flask-Security==3.0.0
Flask-WTF==1.0.1
idna==3.4
importlib-metadata==5.2.0
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.1
mongoengine==0.24.2
mypy-extensions==0.4.3
packaging==22.0
passlib==1.7.4
pathspec==0.10.3
platformdirs==2.6.0
pymongo==4.3.3
python-dotenv==0.21.0
pytz==2022.7
speaklater==1.3
tomli==2.0.1
typing_extensions==4.4.0
Werkzeug==2.2.2
WTForms==3.0.1
zipp==3.11.0
