    {% extends "base_layout.html" %}
   
    {% block main %}
    <h1>{{ title }}</h1>

    <div class="container">
        <!-- <div class="col-md-6 offset-md-3"> -->
            <h3></h3>
            <form name="login" action="" method="POST" novalidate>

                {{ form.hidden_tag() }}
                <p>
                    {{ form.email.label }}
                    {{ form.email(size=25) }}
                    {% for error in form.email.errors %}
                        <span class="error-message">{{ error }}</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.password.label }}
                    {{ form.password(size=15) }}
                    {% for error in form.password.errors %}
                        <span class="error-message">{{ error }}</span>
                    {% endfor %}
                </p>

                <p>
                    {{ form.submit() }}
                </p>
            </form>
        <!-- </div> -->
    </div>
 {% endblock %}